html, body {
  height: 100%;
}

.news-item {
  cursor: pointer;
  flex: 0 0 auto;
  padding: 8px;
  position: relative;
}



.headline-image {
  flex: 2 0 40%;
  margin-right: 8px;
}


.headline-image > img {
  max-height: 100%;
  max-width: 100%;
}

.headline-text {
  flex: 3 0 calc(60% - 16px);
}

alius-search-bar.flexed {
  flex: 1;
  padding-right: 8px;
}

alius-search-bar > md-input-container {
  transition: width 0.6s;
}

alius-search-bar > md-input-container.expanded {
  width: 100%;
}

alius-search-bar > md-input-container.collapsed {
  padding: 0;
  width: 0;
}

.big-icon {
  font-size: 96px;
  height: 96px;
  width: 96px;
}

.headliner {
  flex: 0 0 auto;
}

.joy {
  background: #FFEB3B;
  color: #000;
}

.anger {
  background: #F44336;
  color: #FFF;
}

.sadness {
  background: #2196F3;
  color: #FFF;
}

.disgust {
  background: #9C27B0;
  color: #FFF;
}

.fear {
  background: #8BC34A;
  color: #000;
}

.md-scroll-mask {
  z-index: 10 !important;
}

.logo-cage {
  max-width: 100%;
  max-height: 100%;
}

.teal-900 {
  background: #004D40;
  color: #FFF
}

.teal-500 {
  background: #009688;
  color: #FFF;
}

.teal-200 {
  background: #80CBC4;
  color: #000;
}

.amber-900 {
  background: #FF6F00;
}

.amber-500 {
  background: #FFC107;
}

.amber-200 {
  background: #FFE082;
}

.clickable-tile {
  cursor: pointer;
}
