<md-subheader class="headliner">
  All points of view on: {{ $ctrl.queryTerm() }}
</md-subheader>
<md-content id="main-content" layout="column" flex
            ng-show="$ctrl.results.length && !$ctrl.isLoading()">
  <div class="news-reel" ng-hide="$ctrl.isLoading()" layout="column" flex>
    <div ng-repeat="result in $ctrl.results" class="news-item" layout="row"
      ng-click="$ctrl.openLink(result)"
      md-ink-ripple="#000" sentiment-colorer sentiment="result.tone">
        <div class="headline-image" layout="row" layout-align="center center">
          <img ng-src="{{ result.top_image }}">
        </div>
        <div class="headline-text">
          <div class="md-subhead">
            {{ result.title }}
          </div>
          <div class="md-caption">
            By {{ result.source }}
          </div>
        </div>
    </div>
  </div>
</md-content>
<div flex ng-show="$ctrl.isLoading()" layout="row" layout-align="center center">
  <md-progress-circular></md-progress-circular>
</div>
<div flex ng-hide="$ctrl.results.length || $ctrl.isLoading()" layout="column"
     layout-align="start center" layout-padding>
  <h3 class="md-display-1">Discover all points of view</h3>
  <p class="md-headline">
    Click/press the search button to start.
  </p>
</div>

